@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Lato&display=swap');
body{
    margin: 0px;
    background-color: #11052C;
    font-family: "Lato", sans-serif;
    color: #F0E3CA;
}
/* Sticky Header */
.stickyheader {
  padding: 1px;
  font-size: x-small;
  z-index: 100;
  background: #FFE459;
  text-align: center;
  color: #232931;
  position: sticky;
  top: 0;
}

/* Name */
#particles-js p{
    position: absolute;
    font-family: 'Handlee', cursive;
    font-size: 5em;
    color: #F0E3CA;
    max-width: max-content;
}

#particles-js p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #FFE459; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #FFE459; }
}

/* Scrolldown Arrows */
.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: #F0E3CA;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

.desc{
  padding: 5rem 0 5rem 5rem;
  font-family: 'Lato', sans-serif;
  font-size:2rem;

}

/* Timeline */
.rightbox {
  padding: 0em 10rem 0em 0em;
  height: 100%;
}

.rb-container {
  font-family: "Lato", sans-serif;
  width: 100%;
  margin: auto;
  display: block;
  position: relative;
}

.rb-container ul.rb {
  margin: 2.5em 0;
  padding: 0;
  display: inline-block;
}

.rb-container ul.rb li {
  list-style: none;
  margin: auto;
  margin-left: 5em;
  min-height: 50px;
  border-left: 1px dashed #F0E3CA;
  padding: 0 0 50px 30px;
  position: relative;
}

.rb-container ul.rb li:last-child {
  border-left: 0;
}

.rb-container ul.rb li::before {
  position: absolute;
  left: -5px;
  content: " ";
  border-radius: 500%;
  background: #FFE459;
  height: 10px;
  width: 10px;
}

.rb-container ul.rb li:hover::before {
  border-color: #232931;
  transition: all 1000ms ease-in-out;
}

ul.rb li .timestamp {
  font-family: 'Handlee', cursive;
  color: #FFE459;
  position: relative;
  width: 100px;
  font-size: 12px;
}

.item-title {
  color: #F0E3CA;
}

/* Projects Carousel */
#projects{
  max-width: 100%;
  margin: auto;
  position: relative;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.project-row{
  display: flex;
}
.left{
  width: max-content;
  padding: 20px 0px 20px 80px;
}
.right{
  width: max-content;
  padding: 20px 80px 20px 20px;
}
.project-title{
  font-size: 5rem;
  font-family: 'Handlee', cursive;
  color: #FFE459;
}
.project-image img{
  max-height: 300px;
  border-radius: 5px;
}

/* Githubstats */
.github-stats-images{
  margin-left: 5rem;
  margin-right: 5rem;
}
.github-stats-images img{
  height: 12.5rem;
}