<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roopa Vidhya G</title>
    <link rel="stylesheet" href="particles.styles.css" />
    <link rel="stylesheet" href="index.styles.css" />
</head>

<body>

    <div class="stickyheader" id="myHeader">
        <h2>This portfolio website is a work in progress!</h2>
    </div>
    <div class="nav-bar">

    </div>
    <div class="header">
        <!-- particles.js container -->
        <div id="particles-js">
            <p>Roopa Vidhya G</p>
        </div>
        <svg class="arrows" onclick="scrollDown()">
            <path class="a1" d="M0 0 L30 32 L60 0"></path>
            <path class="a2" d="M0 20 L30 52 L60 20"></path>
            <path class="a3" d="M0 40 L30 72 L60 40"></path>
        </svg>
    </div>
    <div id="projects">
        <div class="desc">Hi There! I'm Roopa, an engineer in the making who loves learning new things! Here are some things I've worked on </div>
        <div class="project-card">
            <div class="project-row">
                <div class="left">
                    <div class="project-image">
                        <img src="images/Morsel-1.jpeg" alt="morsel-image">
                    </div>
                </div>
                <div class="right">
                    <div class="project-title">Morsel</div>
                    <div class="project-content">
                        A mobile app that maps the excess food to people who are in need in real time. Donors specify the type and quantity of food they would like to donate. Each donor is mapped to a volunteer and a hotspot using a distance-based algorithm and volunteers in the area are notified about the same with the details and links. Volunteers operate for collecting these excess food packets and deliver to the places where there is a need. Volunteers also check the quality of the food before transporting it. Both donors and volunteers can track the status of a food packet from donor to recipient. Donation and Volunteer activities are incentivised with bonus points. Privileged users called moderators can add hotspots to the systems and also grant/revoke this privilege to/from other users.
                        <br>
                        Tools Used: Android (Java), Firebase
                    </div>
                </div>
            </div>
        </div>
        <div class="project-card">
            <div class="project-row">
                <div class="left">
                    <div class="project-image">
                        <img src="images/calendraft.jpeg" alt="calendraft-image">
                    </div>
                </div>
                <div class="right">
                    <div class="project-title">Calendraft</div>
                    <div class="project-content">
                        Design and implementation of a Faculty Calendar Management System following software engineering principles.<br>
                        Tech Stack: HTML, CSS, JS, Node, MongoDB<br>
                        Software Engineering Tools: Jira, Jenkins, Selenium, Sonarqube
                    </div>
                </div>
            </div>
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

    </div>
    <div id="education">
        <div class="desc">
            My Education
        </div>
        <div class="rb-container">
            <ul class="rb">
              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp">
                  2018-2022
                </div>
                <div class="item-title">
                    Amrita Vishwa Vidyapeetham,Coimbatore<br>
                    B.Tech in Computer Science and Engineering<br>
                    Current CGPA 9.75<br>
                </div>
      
              </li>
              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp">
                    2017-2018
                </div>
                <div class="item-title">
                    National Public School, Gopalapuram<br>
                    12th CBSE Board, 96.8%<br>
                    Stream: Physics/Chemistry/Maths/C++<br>
                    School Second Rank Holder
                </div>
      
              </li>
      
              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp">
                    2015-2016
                </div>
                <div class="item-title">
                    National Public School, Gopalapuram<br>
                    10th CBSE Board, CGPA 10.0
                </div>
      
              </li>
      
            </ul>
      
          </div>
    </div>
    <div id="extra-curriculars">
        <div class="desc">When I'm not exploring the fascinating world of code, you can find me reading or honing my public speaking skills :)</div>
    </div>
    <div id="contact">

    </div>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="particles.js"></script>
    <script src="index.js"></script>
</body>

</html>